{% extends 'with-sidebar.njk' %}

{% if package %}
  {% set types = api.packages[package] %}
{% endif %}

{%- macro codeBlock(type, lang='ts') -%}
{% markdown %}```{{ lang }}
{{ type | safe }}
```{% endmarkdown %}
{%- endmacro -%}

{%- macro typeString(type, flags) -%}
  {%- if type.type == 'reflection' -%}
    {{ callSignature(type.declaration.signatures[0])  }}
  {%- elif type.type == 'literal' -%}
    "{{ type.value }}"
  {%- elif type.type == 'union' -%}
    {%- for item in type.types -%}
      {%- if flags.isOptional and item.type == 'intrinsic' and item.name == 'undefined' -%}
      {%- else -%}
        {{ typeString(item) }}{{ '|' if not loop.last }}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{ type.name }}
    {%- if type.typeArguments -%}<
      {%- for arg in type.typeArguments -%}
        {{ arg.name }}
        {{- ', ' if not loop.last -}}
      {%- endfor -%}
  >{%- endif -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro callSignature(sig) -%}
  {{ sig.name if sig.name != '__type' }}
  {%- if sig.typeParameter -%}<
    {%- for param in sig.typeParameter -%}
    {{param.name}}{{- ', ' if not loop.last -}}
    {%- endfor -%}
  >{%- endif -%}(
  {%- for param in sig.parameters -%}
    {{ param.name }}: {{ typeString(param.type, param.flags) }}{{- ', ' if not loop.last -}}
  {%- endfor -%}
  ){{ (' =>' if sig.name == '__type' else ':') | safe }} {{ typeString(sig.type, sig.flags) }}
{%- endmacro -%}

{% block main %}
  <main class="markdown-body">
    <h1 id="content-top">
      <a class="anchor" href="#content-top">
        <svg class="octicon octicon-link" viewbox="0 0 16 16" aria-hidden="true" width="16" height="16">
          <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
        </svg>
      </a>
      <span class="title">{{ title }}</span>
      {% for type, link in links %}
        <a href="{{link}}" target="_blank" rel="noreferrer noopener">
          {{ ('_assets/brand-logos/' + type + '.svg') | asset | toAbsPath | inlineFilePath | safe }}
        </a>
      {% endfor %}
    </h1>

    {{ content | safe }}

    {%- for type in types -%}
      <article class="type" data-name="{{ type.name }}">
        <h3 slot="name">{{ type.name }}</h3>
        {% markdown %}{{ type.comment.shortText }}{% endmarkdown %}

        {% if type | getProperties | length %}
          <h3>Properties</h3>
          {%- for property in type | getProperties -%}
            <type-doc kind="property" data-name="{{ property.name }}">
              <span slot="name">
                <h4>{{ property.name }}</h4>
                {% if property.flags.isOptional %}<span>(optional)</span>{% endif %}
              </span>
              {% if property.type %}
                <span slot="type">{{ codeBlock(typeString(property.type, property.flags)) }}</span>
              {% endif %}
              {% if property.comment.shortText %}
                {% markdown %}{{ property.comment.shortText }}{% endmarkdown %}
              {% endif %}
            </type-doc>
          {%- endfor -%}
        {% endif %}

        {% if type | getMethods | length %}
          <h3>Methods</h3>
          {%- for method in type | getMethods -%}
            <type-doc kind="method"
                data-method="{{ method.name }}"
                data-name="{{ method.name }}">
              <h4 slot="name">{{ method.name }}</h4>

              {% if method.comment.shortText %}
                {% markdown %}{{ method.comment.shortText }}{% endmarkdown %}
              {% endif %}

              {% for sig in method.signatures %}

                {%- if sig.typeParameter -%}
                  <h4>Type Parameters</h4>
                  {%- for param in sig.typeParameter -%}
                    {{ param.name }}{{- ', ' if not loop.last -}}
                  {%- endfor -%}
                {%- endif -%}

                {% if sig.parameters %}
                  <h4>Parameters</h4>
                  {%- for param in sig.parameters -%}
                    <type-doc kind="parameter" data-parameter="{{ param.name }}">
                      <h5 slot="name">{{ param.name }}</h5>
                      <span slot="type">
                        {%- markdown -%}{{ codeBlock(typeString(param.type, param.flags)) }}{%- endmarkdown -%}
                      </span>
                      {%- markdown -%}{{ param.comment.shortText }}{%- endmarkdown -%}
                    </type-doc>
                  {%- endfor -%}
                {% endif %}

                <type-doc kind="return">
                  <h4 slot="name">Returns</h5>
                  <span slot="type">
                    {% markdown %}{{ typeString(sig.type) }}{% endmarkdown %}
                  </span>
                  {%- markdown -%}{{ param.comment.shortText }}{%- endmarkdown -%}
                </type-doc>
              {% endfor %}

            </type-doc>
          {%- endfor -%}
        {% endif %}

        {# Return type #}
        {% if type.type %}
          <span slot="type">{{ codeBlock(typeString(type.type, type.flags)) }}</span>
          {% if type.type.comment.shortText %}
            {% markdown %}{{ type.type.comment.shortText }}{% endmarkdown %}
          {% endif %}
        {% endif %}

      </article>
    {%- endfor -%}

    {% include 'partials/previousNext.njk' %}
    {% include 'partials/content-footer.njk' %}
  </main>
  <script type="module" async>
    if (location.hash) {
      const anchor = document.querySelector(location.hash)
      const doc = anchor && anchor.closest('type-doc');
      if (doc) {
        doc.expanded = true;
        doc.scrollIntoView();
      }
    }
  </script>
{% endblock main %}
