<link rel="stylesheet" href="{{ '/_assets/type-doc.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/api.css' | asset | url }}">

{% if layout == 'home' %}
  <link rel="stylesheet" href="{{ '/_assets/home.css' | asset | url }}">
{% endif %}
